*.exe
*.exe~
/tries
/sessions
/config.json
/base.*
/integration-tests/client
/integration-tests/server
/integration-tests/worker

#idea
*.iml
.idea
/node_modules/
/debug
/src/malibu-server/assets/_/
/_data/
_data
/int-tests/src/Tests/twoSessions/worker
*.sl3
*.db
/src/malibu/malibu
/src/malibu-client/malibu-client
/src/malibu-worker/malibu-worker
/src/malibu-server/malibu-server
/pkg
